build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.a
*.cmake
RovArmCore
RovCore
.vscode
*.orig
logs
Arm
JoystickSubscriber
ImuCalibration
Skeleton
ATMegaController